{%extends 'base.html'%}
{%load static%}
{% load socialaccount %}
{%block content%}

				<!-- Intro -->
					<div id="intro">
						<h1 class="glitch" data-text="Enigma">Enigma</h1>
						<p>I had strings, but now I'm free. There are no strings on me</p>

						<ul class="actions">
							<li><a href="#header" class="button icon solid solo fa-arrow-down scrolly">Continue</a></li>
						</ul>
					</div>

				<!-- Header -->
					<header id="header">
						<a  class="logo">LocalHost</a>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul class="links">
							<li class="active"><a href="{%url 'home' %}">Home</a></li>
							{%if request.user.is_authenticated%}
							<li><a href="{%url 'user_profile:redirect' %}" >Let's start</a></li>
							{%else%}
							<li><a href="{% provider_login_url 'google' %}" >Let's start</a></li>
							{%endif%}
							<li><a href="{%url 'user_profile:lead' %}">Leader board</a></li>
							</ul>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Featured Post -->
							<article class="post featured">
								<header class="major">
									<h2>Before you go! </h2>
									<p>"I shall be telling this with a sigh<br>

										Somewhere ages and ages hence:<br>
										
										Two roads diverged in a wood, and I—<br>
										
										I took the one less traveled by,<br>
										
										And that has made all the difference." <br></p>
								</header>
							
								{%if not request.user.is_authenticated%}
								<ul class="actions special">
									<li><a href="{% provider_login_url 'google' %}" class="button large">Login</a></li>
								</ul>
								{%else%}
								<ul class="actions special">
									<li><a href="{% url 'user_profile:redirect' %}" class="button large">Continue</a></li>
								</ul>
								{%endif%}
							</article>
			</div>
{%endblock content%}
