{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}
{% block content %}

  <!-- Intro -->
  <div id="intro">
    
      <img id="image-incognito" src="../../static/images/incognito.svg"/>

    
    
    <p class="txt">Let the hunt begin</p>

  
  </div>

  <!-- Header -->
 

  <!-- Nav -->
  <nav id="nav">
    <ul class="links">
      <li class="active"><a href="{% url 'home' %}">Home</a></li>
      {% if request.user.is_authenticated %}
        <li><a href="{% url 'user_profile:redirect' %}">Let's start</a></li>
      {% else %}
        <li><a href="{% provider_login_url 'google' %}">Let's start</a></li>
      {% endif %}
      <li><a href="{% url 'user_profile:lead' %}">Leader board</a></li>
    </ul>
  </nav>

  <!-- Main -->
  <div id="main">

    <!-- Featured Post -->
    <article style="background-color: #111111 !important;color:#1FA09B;border: 2px solid #1FA09B;" class="post featured">
      <header class="major">
        <p>Welcome to INCOGNITO, the ultimate online treasure hunt! Are you ready to embark on a dark adventure full of puzzles, codes, and secrets?  Get ready to experience the thrill of the chase as you navigate through a complex web of challenges designed to test your skills and push you to your limits. So put on your thinking cap and get ready to dive into the dark side of the internet.
          Are you ready to accept the challenge?</p>
      </header>

      {% if not request.user.is_authenticated %}
        <ul class="actions special">
          <li><a href="{% provider_login_url 'google' %}" style="background: #111111;
            border: 2px solid #1FA09B;padding:10px;font-size: 30px;color: #1FA09B;padding: 10px 40px;">Login</a></li>
        </ul>
      {% else %}
        <ul class="actions special">
          <li><a href="{% url 'user_profile:redirect' %}" class="button large">Continue</a></li>
        </ul>
      {% endif %}
    </article>
  </div>
{% endblock content %}
