{%extends 'base.html'%}
{% load static %}
{% load socialaccount %}
{%block content%}



  <!-- Header -->
  <header id="header">
    <a class="logo">INCOGNITO</a>
  </header>

  <!-- Nav -->
  <nav id="nav">
    <ul class="links">
      <li><a href="{% url 'home' %}">Home</a></li>
      {% if has_started %}
        <li><a href="{% url 'game:quiz' %}">{{ text }}</a></li>
      {% else %}
      {%if request.user.is_authenticated%}
      <li><a href="{%url 'user_profile:redirect' %}" >Let's start</a></li>
      {%else%}
      <li><a href="{% provider_login_url 'google' %}" >Let's start</a></li>
      {%endif%}
      {% endif %}
      <li class="active"><a href="#">Leader board</a></li>
    </ul>
  </nav>

  <!-- Main -->
  <div id="main">

    <!-- Featured Post -->
    <article class="post featured">
      <header class="major">

        <h2>Top Scorers</h2>
      </header>
      <ol>
        {% for profile in profiles %}
          <li class="leader-r"><span
                  class="name"><b> {{ profile.nick_name | title}}</b> </span><span>{{ profile.marks }}</span></li>
        {% endfor %}
      </ol>


    </article>


  </div>

{%endblock content%}