{%extends 'base.html'%}
{%load static%}
{%block content%}

					<div id="intro">
						<h1>Rules: </h1>
						<p style="text-align: left;">	{%for rule in rules%}{{rule.rule | safe}}{%endfor%}</p>
							<a href="{%url 'game:quiz'%}" class="button icon solid  fas fa-play scrolly">Continue</a>  
                    </div>
                    <!-- Nav -->
					<nav id="nav">
						<ul class="links">
							<li ><a href="{%url 'home' %}">Home</a></li>
							<li class="active"><a href="#" >Let's start</a></li>
							<li><a href="{%url 'user_profile:lead' %}">Leader board</a></li>
							</ul>
					</nav>
			</div>

{%endblock content%}