{%extends 'base.html'%}
{% load static %}
{%block content%}

  <!-- Header -->
  <header id="header">
    <a href="{% url 'home' %}" class="logo">INCOGNITO</a>
  </header>

  <!-- Nav -->
  <nav id="nav">
    <ul class="links">
      <li><a href="{% url 'home' %}">Home</a></li>
      <li class="active"><a href="#">Arena</a></li>
      <li><a href="{% url 'user_profile:lead' %}">Leader board</a></li>
    </ul>

  </nav>

  <!-- Main -->
  <div id="main">

    <!-- Post -->
    <section class="post">
      <header class="major">

        <h1>{{ question.question }}</h1>

      </header>
      <div class="image main">
        <div style="height:100%;width:100%;position: absolute;"></div>
        <img id="image_s" src="{{ question.image }}" alt=""/>
      </div>
      <!-- IF it's a question -->
      <form class="form-wrap frm" action="" method="POST">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="button large additional">Submit</button>
      </form>
    </section>
    <script>

    </script>


  </div>


</div>

{%endblock content%}
